@charset 'utf-8';

#login{
    width: 100%;
    height: 100%;
    background: url("../../static/image/login_bg.jpg") no-repeat center center;
    background-size: 100% 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}
#login .panel{
    width: 80%;
    height: 15rem;
    background: white;
    border-radius: 1rem;
    box-shadow: 0.3rem 0.3rem 1rem 0.3rem rgba(0,0,0,0.5);
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 1.5rem 0;
}
#login .panel .panelBtn{
    margin-top: 1.5rem;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
}
#login .panel .panelForm{
    box-sizing: border-box;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    margin-top: 1.5rem;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
}
.loginBtn{
    margin-top: 2rem;
}
/* remeber me */
.am-list-item{
    font-size: 0.1rem;
    padding-left: 0;
}
.am-checkbox-inner{
    width: 16px;
    height: 16px;
    top: 15px;
}
.am-checkbox-inner:after{
    height: 8px;
    width: 3px;
    right: 5px;
}
/* antd-mobile重置样式 */
.am-list-item .am-input-label.am-input-label-5{
    width: 25px;
}
.am-list-item.am-input-item,.am-list-item{
    padding-left: 10px;
}